.body-form {
	background-color: #265cff;
	height: 100vh;
}

.body-form h2 {
	color: white;
	font-size: 2rem;
}

.main-form {
	margin: auto;
	background-color: white;
	border: 2rem solid #e8f8ff;
	border-radius: 20px;
	height: 50%;
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.fields-form {
	padding: 0.8rem 3rem;
}

.fields-name {
	display: flex;
	justify-content: space-between;
}

.fields-name * {
	width: 80%;
}

@media screen and (max-width: 768px) {
	.body-form {
		height: 120%;
		padding: 1rem;
	}

	.body-form h2 {
		font-size: 1.2rem;
	}

	.main-form {
		width: 80%;
		height: 70%;
		border: 1rem solid #e8f8ff;
	}

	.fields-form {
		display: flex;
		flex-direction: column;
	}

	.fields-form * {
		align-self: center;
	}

	.fields-name {
		display: flex;
		flex-direction: column;
	}

	.fields-name * {
		align-self: center;
		width: auto;
	}
}
