.main-navigation {
	padding: 0.4rem;
	background-color: white;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
-webkit-box-shadow: 0px -8px 51px -11px rgba(0,0,0,0.57);
-moz-box-shadow: 0px -8px 51px -11px rgba(0,0,0,0.57);
box-shadow: 0px -8px 51px -11px rgba(0,0,0,0.57);
}

.logo {
	font-size: 0.8rem;
	text-shadow: 1px 0 #888888;
	letter-spacing: 2px;
	color: #265cff;
	font-weight: 900;
	text-decoration: none;
}

@media (max-width: 768px) {
	.logo {
		font-size: 1.2rem;
	}

	.hamburger-button {
		width: 3rem;
		height: 3rem;
		background: transparent;
		border: none;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		cursor: pointer;
	}

	.hamburger-button span {
		display: block;
		width: 3rem;
		height: 0.2rem;
		background: black;
	}
}

@media screen and (min-width: 768px) {
	.hamburger-button {
		display: none;
	}
}
