.navigation-buttons-main {
	display: flex;
	justify-content: space-around;
}

@media screen and (max-width: 768px) {
	.navigation-buttons-main {
		display: none;
	} 
}

.navigation-buttons-side {
	display: flex;
	flex-direction: column;
}

.navigation-buttons-side * {
	align-self: center;
	margin-top: 2rem;
	font-size: 1.2rem;
}

